/*
-------
RESET
-------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
-------
TYPO
-------
*/

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 77px;
    font-weight: 800;
}

h2 {
    font-size: 44px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 28px;;
}

h5 {
    font-size: 26px;
}

p {
    line-height: 22px;
}

.check {
    color: #0061ff
}

footer {
    color: #fff;
}

/*
-------
COMMON
-------
*/

ul {
    list-style-type: none;
}

header a {
    color: #000;
    text-decoration: none;
}

.flex {
    display: flex;
}

.btwn {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.container-big {
    max-width: 1200px;
    margin: 0 auto;
}

.container-small {
    max-width: 1000px;
    margin: 0 auto;
}

main ul {
    text-indent: -9%;
    padding-left: 10%;
}

main ul li {
    margin-bottom: 25px;
}

hr {
    background-color: #d0d0d3;
    border: 1px solid #d0d0d3;
    width: 20%;
}

/*
-------
BUTTONS
-------
*/

.primary-btn {
    color: #fff;
    background-color: #0061ff;
    text-decoration: none;
}

.secondary-btn {
    color: #000;
    border: 1px solid black;
    text-decoration: none;
    background-color: #fff;
}

.btn-small {
    padding: 5px 15px;
}

.btn-big {
    padding: 15px 20px;
    display: inline-block;
}

/*
-------
DIMENSIONI
-------
*/

.wh-30 {
    width: 30%;
}

.mb-30 {
    margin-bottom: 30px;
}

/*
-------
HEADER
-------
*/

header {
    padding: 0 20px;
    height: 80px;
    line-height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 50;
    box-shadow: 0 1px 2px #dedede;
}

header .nav-center {
    flex-grow: 1;
    padding-left: 20px;
}

header .nav-left img {
    vertical-align: middle;
}

header nav .nav-center li {
    padding: 0 20px;
}

/*
-------
MAIN
-------
*/

/* Jumbotron */

main #jumbotron {
    margin-top: 78px;
    background-color: #b4d0e7;
    padding-top: 100px;
}

main #jumbotron .jumbotron-row {
    position: relative;
    top: 80px;
    margin-top: -25px;
}

main .jumbotron-row .jumbotron-right {
    width: 70%
}

main .jumbotron-row .jumbotron-left i {
    font-size: 45px;
    margin-top: 40px;
}

main .jumbotron-row .jumbotron-right img {
    max-width: 100%;
}

/* Plan options */

main #payment-plan {
    margin-top: 160px;
}

main #payment-plan .radio {
    margin: 60px 0 50px 0;
}

main #payment-plan .radio span {
    margin-right: 50px;
}

main #payment-plan .plan-options .option {
    border: 1px solid #d0d0d3;
    margin: 0 0 50px;
}

main .plan-options .option:last-child {
    flex-grow: 1;
}

main .plan-options .option .target {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #d0d0d3;
}

main .plan-options .option i {
    margin-right: 5px;
}

.info {
    padding: 30px 25px 45px;
}

main .plan-options .info h4 {
    margin-bottom: 20px;
}

main .plan-options .info .time {
    margin: 18px 0 50px 0;
}

main .plan-options .column .info .links > a {
    margin: 50px 0 35px;
    width: 100%;
    text-align: center;
}

main .plan-options .option .info hr {
    margin: 45px 0 55px 0;
}

hr + strong {
    display: block;
    margin-bottom: 35px;
}

main .plan-options .option .info-row {
    padding-bottom: 35px;
}

main .plan-options .option .info-row div:last-child {
    margin-top: 55px; 
    flex-basis: 70%; 
}

/* Partner section */

main #partner {
    margin-top: 100px;
}

main #partner .partner-img {
    width: 65%;
}

main #partner .partner-content {
    width: 45%;
    padding: 50px 0 0 50px;
}

main #partner .partner-img img {
    width: 100%;
}

main .partner-content h3 {
    margin-bottom: 25px;
}

/* Operazioni Dropbox Business */

main #operations {
    margin-top: 160px;
}

main #operations .operations-container {
    gap: 70px 0;
    margin: 70px 0 200px;
}

main #operations .operations-container .operation img {
    width: 100%;
}

main #operations .operations-container .operation h3 {
    margin-bottom: 35px;
}

/* Clienti */

main #clients h2 {
    margin-bottom: 70px;
}

/* Box Clienti */

main #clients-logo {
    margin-top: 150px;
}

main #clients-logo > div {
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

main #clients-logo .small-box {
    width: 50%;
    height: 50%;
    position: relative;
}

main #clients-logo .left-column img,
main #clients-logo .right-column img {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

main #clients-logo .center-column {
    background-color: #f5f5f5;
    padding: 50px;
    overflow: auto;
}

main #clients-logo .center-column img {
    width: 50%;
}

main #clients-logo .center-column hr {
    margin: 40px 0;
}

main #clients-logo .center-column div:last-child {
    margin-top: 50px;
}

/* Prova gratuita */

main #trial {
    background-color: #b4d0e7;
    padding: 130px 0;
}

main #trial .flex {
    align-items: flex-start;
    gap: 100px;
}

main #trial h2 {
    width: 65%;
    color: #61082b;
}

main #trial a {
    width: 35%;
    border:  none;
    text-align: center;
}

/* Domande Frequenti */

main #questions {
    margin: 155px 0 150px 0;
}

main #questions h2 {
    margin-bottom: 60px;
}

main #questions .question-row {
    gap: 40px;
    padding: 40px 40px 40px 0;
    border-bottom: 1px solid #999999;
}

main #questions .question-row:first-of-type {
    border-top: 1px solid #999999;
}

main #questions .question-row p {
    flex-basis: 90%;
    display: none;
}

/*
-------
FOOTER
-------
*/

footer {
    background-color: black;
    padding: 100px 0 45px;
}

footer a {
    color: inherit;
    text-decoration: none;
}

footer ul li {
    margin-bottom: 20px;
}

footer hr {
    margin: 100px 0 45px;
    width: 10%;
}

footer .lang {
    color: #999999;
}

footer i {
    margin-right: 5px;
}

footer i:last-child {
    position: relative;
    top: 1px;
    left: 2px;
}

/*
------
BOX CLIENTI COLORI
------*/

.designit {
    background-color: #a2d39b;
    border: 15px solid #d1e9cd;
}

.asu {
    background-color: #61082b;
}

.uf {
    background-color: #0093ce;
}

.topps {
    background-color: #ff1c1c;
}

.bike {
    background-color: #d5001f;
}

.hearst {
    background-color: #b4d0e7;
}

.lonely {
    background-color: #0d2481;
}

.clear {
    background-color: #ffd830;
}

/*
-------
EFFETTI
-------
*/

header nav .nav-center li:hover {
    border-bottom: 2px solid black;
}

.primary-btn:hover {
    background-color: #2d7dff;
    box-shadow: 0 0 2px 1px #888;
}

.secondary-btn:hover {
    background-color: #0061ff;
    color: #fff;
    border: none;
    box-shadow: 0 2px 5px 2px #999;
}

main #questions .question-row:hover p {
    display: block;
}

main #questions .question-row:hover i {
    transform: rotate(180deg);
}