/*
-------
RESET
-------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
-------
TYPO
-------
*/

body {
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Noto Sans JP', sans-serif;
}

h1 {
    font-size: 60px;
    font-weight: 900;
}

h2 {
    font-size: 30px;
}

p {
    line-height: 22px;
}

.check {
    color: #0061ff
}

/*
-------
COMMON
-------
*/

ul {
    list-style-type: none;
}

.flex {
    display: flex;
}

.dist {
    justify-content: space-between;
}

.container-big {
    max-width: 1200px;
    margin: 0 auto;
}

.container-small {
    max-width: 1000px;
    margin: 0 auto;
}

main ul {
    text-indent: -10%;
    padding-left: 10%;
}

main ul li {
    margin-bottom: 25px;
}

/*
-------
BUTTONS
-------
*/

.primary-btn {
    color: #fff;
    background-color: #0061ff;
    text-decoration: none;
}

.btn-small {
    padding: 5px 15px;
}

.btn-big {
    padding: 15px 20px;
    display: inline-block;
}

/*
-------
HEADER
-------
*/

header {
    padding: 18px 20px 25px;
    height: 72px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 50;
}

header .nav-center {
    flex-grow: 1;
    padding: 0 20px 0 40px;
}

header nav .nav-center ul {
    gap: 40px;
}

/*
-------
MAIN
-------
*/

/* Jumbotron */
main .jumbotron {
    margin-top: 72px;
    background-color: #b4d0e7;
    padding-top: 100px;
}

main .jumbotron h1 {
    margin-bottom: 75px;
}

main .jumbotron .jumbotron-row {
    display: flex;
    position: relative;
}

main .jumbotron-row .jumbotron-left {
    width: 33%;
}

main .jumbotron-row .jumbotron-right {
    width: calc(100% - 30%);
}

main .jumbotron-row .jumbotron-left a {
    display: inline-block;
}

main .jumbotron-row .jumbotron-left p,
main .jumbotron-row .jumbotron-left a,
main .jumbotron-row .jumbotron-left div {
    margin-bottom: 35px;
}

main .jumbotron-row .jumbotron-left i {
    font-size: 40px;
    margin-top: 45px;
}

main .jumbotron-row .jumbotron-right img {
    width: 100%;
}

/* Plan options */

main .box-plan {
    margin-top: 160px;
}

main .box-plan .radio {
    margin: 70px 0 50px 0;
}

main .box-plan .radio span {
    margin-right: 50px;
}

main .box-plan .plan-options {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -25px;
}

main .box-plan .plan-options .option {
    border: 2px solid #d0d0d3;
    width: calc(100% / 3 - 50px);
    margin: 0 25px 50px;
}

main .plan-options .option:last-child {
    flex-grow: 1;
}

main .plan-options .option .target {
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid #d0d0d3;
}

main .plan-options .option i {
    margin-right: 5px;
}

.info {
    padding: 35px 30px 50px;
}

main .plan-options .info h4 {
    margin-bottom: 20px;
}

main .plan-options .info .time {
    margin: 18px 0 50px 0;
}

main .plan-options .info .links > a {
    margin-bottom: 35px;
}

main .plan-options .option .info hr {
    width: 20%;
    margin: 40px 0 55px 0;
}

hr + strong {
    display: block;
    margin-bottom: 35px;
}
/*
-------
FOOTER
-------
*/